.lists{
    margin-bottom: 30px;
}
.lists li{
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
    display: flex;
    color: #323232;
}
.lists li:hover{
    box-shadow: 0 0 4px #c5c5c5;
}
.lists li.active{
    background-color: #ffffff;
    box-shadow: 0 0 4px #c5c5c5;
}
.lists li i, .colors i{
    display: inline-block;
    border-radius: 30px;
    margin-right: 7px;
}
.lists li i{
     width: 12px;
     height: 12px;
 }
.color-red{
    background-color: #ff000a;
}
.color-blue{
    background-color: #000eff;
}
.color-green{
    background-color: #00ff23;
}
.color-yellow{
    background-color: #fffd00;
}
.color-purple{
    background-color: #ff00ed;
}
.color-black{
    background-color: #000000;
}
.color-white{
    background-color: #ffffff;
}
.listName{
    flex: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    align-items: center;
}
.listNameBtn{
    color: #b9b9b9;
    font-weight: bold;
    margin-left: 2px;
}
.listNameBtn span{
    margin: 0 0 5px 10px;
}
.listName span{
    margin: 0 5px;
}
.listDeleteBtn{
    color: #c8c8c8;
    opacity: 0;
}
.lists li:hover .listDeleteBtn{
    opacity: 1;
}

.windowAddTask{
    border-radius: 10px;
    width: 250px;
    background-color: #fff;
    box-shadow: 0 6px 15px #818181;
    padding: 15px;
    position: relative;
}
.windowAddTask .closeBtn{
    position: absolute;
    top: -10px;
    right: -5px;
    font-size: 20px;
    cursor: pointer;
}
.windowAddTask input{
    padding: 10px;
    font-size: 15px;
    width: 230px;
    border-radius: 7px;
    border: 1px solid #d8d8d8;
}
.windowAddTask button{
    background-color: #45da6e;
    border: none;
    border-radius: 7px;
    width: 250px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    padding: 5px 0;
    cursor: pointer;
}
.windowAddTask button:hover{
    background-color: #27cb59;
    transition: 0.15s ease-in-out;
}
.colors{
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
}
.colors i{
    border: 2px solid transparent;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.colors i:hover{
    border: 2px solid black;
}
.colors .active{
    border: 2px solid black;
}